# Data Science Tools and Ecosystem

## Author
Quincy Okeke

In this notebook, Data Science Tools and Ecosystem are summarised

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries for Data Science
+ Evaluate simple arithmetic expressions
+ Use Markdown cells 
+ Create a Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. NumPy
3. ggplot
4. scikit-learn
5. matplotlib

| Data Science Tools |
| ------------------ |
| VisualStudio Code |
| JupyterLab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335